@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f5f5f5;
  color-scheme: light;
}

:root[data-color-scheme="light"] {
  --background: #f5f5f5;
  --foreground: #ededed;
  color-scheme: light;
}

@media (prefers-color-scheme: light) {
  :root:not([data-color-scheme]) {
    --background: #f5f5f5;
    --foreground: #ededed;
    color-scheme: light;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


openai-chatkit {
  --chatkit-color-primary: #44aa00 !important;
  --chatkit-color-surface-bg: #f5f5f5 !important;
  --chatkit-color-surface-fg: #2d7000 !important;
  --chatkit-radius: 24px !important;
  --chatkit-font-size: 16px !important;
}
